<html>
<body>
<style>
.chart {
    float:left;
    margin:0 auto;
    width: 65%;
    height: 80%;
}	

</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<!-- <script src="http://code.highcharts.com/highcharts.js"></script> -->
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="../static/js/modules/export-csv.js"></script>

{% if topic == 'region' %}
	<script src="../static/js/jobs-explorer-region.js"></script>
	<script type='text/javascript'>
		var jobs_northeast = {{jobs_northeast|safe}}
		var jobs_west = {{jobs_west|safe}}
		var jobs_south = {{jobs_south|safe}}
		var jobs_midwest = {{jobs_midwest|safe}}
	</script>
{% endif %}
{% if topic == 'industry' %}
	<script src="../static/js/jobs-explorer-industry.js"></script>
	<script type='text/javascript'>
		var jobs_resource = {{jobs_resource|safe}}
		var jobs_trade = {{jobs_trade|safe}}
		var jobs_manufacturing = {{jobs_manufacturing|safe}}
		var jobs_professional = {{jobs_professional|safe}}
	</script>
{% endif %}
{% if topic == 'sector' %}
	<script src="../static/js/jobs-explorer-sector.js"></script>
	<script type='text/javascript'>
		var jobs_goods = {{jobs_goods|safe}}
		var jobs_service = {{jobs_service|safe}}
	</script>
{% endif %}
{% if topic == 'size' %}
	<script src="../static/js/graph.js"></script>
	<script type='text/javascript'>
		var jobs_goods = {{jobs_goods|safe}}
		var jobs_service = {{jobs_service|safe}}
		var data2 = {{data2|safe}}
	</script>
{% endif %}
{% if topic == 'total' %}
	<script src="../static/js/jobs-explorer-total.js"></script>
	<script type='text/javascript'>
		var jobs_us = {{jobs_us|safe}}
	</script>
{% endif %}

<!-- <img src="../static/assets/ADP_header.png" alt=''><br><br> -->
<!-- 
<link href="../static/js/chardin/chardinjs.css" rel="stylesheet">
<script src="../static/js/chardin/chardinjs.min.js"></script>
<script src="../static/js/chardin/chardinjs.js"></script>
<button id="toggleHelp" type="button" class="btn btn-default"><span class="glyphicon glyphicon-question-sign"></span>Help</button> -->

<div id="chart1">
	<font size = "5"><b> Historical Change in Non-Farm US Jobs (in thousands) </b></font><br>
	<i> Select a time period for greater focus by dragging across the lower chart. Use the options below to tailor the dataset represented </i>
	<br/><br/>
	<div class="buttons" style="float:left; width: 35%;">
	<ul style="list-style: none;">
		<li data-intro='a help tip'><b>Compare Trends by:</b></li><br>
		<li><a href="/jobs-explorer/total"><img src="../static/assets/btn_total.png" alt='Total Change' {% if topic == 'total' %} style="border:5px solid orange" {% endif %}></a></li>
		<li><a href="/jobs-explorer/sector"><img src="../static/assets/btn_sector.png" alt='Sector'  {% if topic == 'sector' %} style="border:5px solid orange" {% endif %}></a></li>
		<li><a href="/jobs-explorer/industry"><img src="../static/assets/btn_industry.png" alt='Industry'  {% if topic == 'industry' %} style="border:5px solid orange" {% endif %}></a></li>
		<li><a href="/jobs-explorer/region"><img src="../static/assets/btn_region.png" alt='Region'  {% if topic == 'region' %} style="border:5px solid orange" {% endif %}></a></li>
	</ul>
	<form action = "/jobs-explorer/{{topic|safe}}" method="post">
	<ul style="list-style: none;">
		{% if topic not in('region') %}
			<div id="filterRegions">
			<li><b>Region</b></li>
			<li><label>
			    <input type="checkbox" name="check" value="filterRegionNortheastOn" {{filters.filterRegionNortheastOn|safe}}>Northeast
			</label></li>
			<li><label>
			    <input type="checkbox" name="check" value="filterRegionMidwestOn" {{filters.filterRegionMidwestOn|safe}}>Midwest
			</label></li>
			<li><label>
			    <input type="checkbox" name="check" value="filterRegionWestOn" {{filters.filterRegionWestOn|safe}}>West
			</label></li>
			<li><label>
			    <input type="checkbox" name="check" value="filterRegionSouthOn" {{filters.filterRegionSouthOn|safe}}>South
			</label></li>
			</div>
		{% endif %}
		{% if topic not in('sector','industry') %}
			<div id="filterGoods">
			<li><b>Industry: Goods</b></li>
			<li><label>
			    <input type="checkbox" name="check" value="filterIndustryManufacturingOn" {{filters.filterIndustryManufacturingOn|safe}}>Manufacturing
			</label></li>
			<li><label>
			    <input type="checkbox" name="check" value="filterIndustryResourceOn" {{filters.filterIndustryResourceOn|safe}}>Construction, Mining, Natural Resources
			</label></li>
			</div>
			<div id="filterServices">
			<li><b>Industry: Services</b></li>
			<li><label>
			    <input type="checkbox" name="check" value="filterIndustryTradeOn" {{filters.filterIndustryTradeOn|safe}}>Trade, Transport, Utilities
			</label></li>
			<li><label>
			    <input type="checkbox" name="check" value="filterIndustryProfessionalOn" {{filters.filterIndustryProfessionalOn|safe}}>Professional/Business Services
			</label></li>
			</div>
		{% endif %}
		<li><br/></li>
		<li><input type="submit" name="submit" value="Filter" style="width: 20em;  height: 3em;"></li>
	</form>
	</div>
	<div id="container" class="chart"></div>
</div>
<!-- 
<script language="text/javascript">
$( '#selectAll1' ).click( function () {
$( '#filterRegions input[type="checkbox"]' ).prop('checked', this.checked)
})
</script> -->
</body>
</html>