<!DOCTYPE html>
<html lang="en">

<h5>
  <div id="date_form">
      <form name="contact" action="" method="post">
          <p> To update (1) the time series plot of the ADP and BLS monthly payroll
            growth estimates and (2) the time series plot <br /> of the differences between the ADP
            and BLS payroll growth estimates change start and end dates below: </p>
          <label for="date1" id="date1_label">From</label>
          <input type="date" name="date1" value = "2001-04-01" id="date1" size="50" />

          <label for="date2" id="date2_label">To</label>
          <input type="date" name="date2" value = "2016-07-01" id="date2" size="50" />
          <button id="btnGet">Update</button>
      </form>
    </div>

  </h5>

    <div id="SwitchButtons" style="margin-left: 1100px; margin-top: -70px">
      <form action="http://spadela.pythonanywhere.com/">
      <input type="submit" value="Main Page" />
      </form>
      <form action="http://spadela.pythonanywhere.com/bls-mth/">
      <input type="submit" value="ADP-BLS By Month" />
      </form>
      <form action="http://spadela.pythonanywhere.com/jobs-explorer/">
      <input type="submit" value="Jobs Explorer" />
      </form>
    </div>

    <head>

      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
          <script src="http://code.jquery.com/jquery-1.9.1.js" type="text/javascript"></script>
          <script src="http://code.highcharts.com/highcharts.js" type="text/javascript"></script>
          <script src="http://code.highcharts.com/modules/exporting.js" type="text/javascript"></script>
      <div id="container" style="min-width: 310px; height: 10px; margin: 100 auto"></div>

    </head>

<body>
  <script src="../static/js/bls-ts.js"></script>
  </body>
</html>
