<!DOCTYPE html>
<html lang="en">

<h5>
  <div id="date_form">
      <form name="contact" action="" method="post">
          <p> To view (1) a time series plot of the ADP and BLS monthly payroll
            growth estimates and (2) a time series plot <br /> of the differences between the ADP
            and BLS payroll growth estimates enter start and end dates below: </p>
          <label for="date1" id="date1_label">Start date</label>
          <input type="date" name="date1" id="date1" size="50"/>

          <label for="date2" id="date2_label">End date</label>
          <input type="date" name="date2" id="date2" size="50"/>
          <button id="btnGet">Plot charts</button>
      </form>
    </div>

  </h5>

    <head>

      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
          <script src="http://code.jquery.com/jquery-1.9.1.js" type="text/javascript"></script>
          <script src="http://code.highcharts.com/highcharts.js" type="text/javascript"></script>
          <script src="http://code.highcharts.com/modules/exporting.js" type="text/javascript"></script>
      <div id="container" style="min-width: 310px; height: 10px; margin: 100 auto"></div>

    </head>

<body>
  <script src="../static/js/bls-ts.js"></script>
  </body>
</html>
