<div id="header">
<img src="../static/assets/ADP_header.png" alt='' style="width:60%;">
</div>
<br><br>

<div id="main_title" style="margin-left: 35px; margin-top: 0px;">
  <font size = "5"><b> Historical Change in Non-Farm US Jobs (in thousands) </b></font><br>
  <br/>
	<font size = "3" style= "font-weight :normal"> <i> Select a time period for greater
    focus by dragging across the lower chart. Use the options below to tailor the dataset represented. </i>
	<br/><br/>
<ul class="topnav" id="myTopnav" style="position:fixed; top: 0; right: 0;">
  <li><a href="/">Main</a></li>
  <li><a href="/jobs-explorer/">Jobs Explorer</a></li>
  <li><a href="/bls-ts/">Monthly Comparison</a></li>
  <li><a href="/bls-mth">Seasonal Comparison</a></li>
  <li class="icon">
    <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
  </li>
</ul>
</div>