<html>
<body>
<h3>ADP Employment Report</h3>
<p>
Business owners, policymakers, journalists, economists and financial market professionals, closely watch the ADP’s Monthly Employment Report. The Employment Report provides an early indicator of the state of the US economy and labor markets. The ADP employment report also sets expectations for what to expect in the official government report employment that is released a few days later.
</p>
<h3>ADP Jobs Explorer (Ideal for Journalists, General Business Users and Students)</h3>
<p>
ADP provides useful splits of the employment data.  The employment data are available at the national, regional and state levels, by industry and sector, and by company size. This website, not only allows you to download these data in raw format, but it also allows you to visually interact with these data in time series form by the geographical, industry and company splits mentioned above. These visualizations allow you to engage with the data, identify trends across various splits in the data and easily consume the economic insights that emerge from them.
</p>
<p>Please click here to use the “ADP Jobs Explorer” visualization tool: <a href="http://spadela.pythonanywhere.com/jobs-explorer/">http://spadela.pythonanywhere.com/jobs-explorer/</a>.
</p>
<h3>ADP vs BLS Comparison Tool (Ideal for Economists and Financial Market Professional)</h3>
<p>The ADP national employment report is released a couple days before one of the most closely watch economic reports of the month – the government-produced Bureau of Labor Statistics (BLS) employment report. This website provides a tool which allows you to compare the ADP private payrolls to the BLS private payrolls over time periods of your choice.</p>
<p>Please click here to use the “ADP vs BLS” time series visualization tool: <a href="http://spadela.pythonanywhere.com/bls-ts/">http://spadela.pythonanywhere.com/bls-ts/</a></p>
<p>Another useful tool this website provides is a column chart showing the average difference between the estimates of ADP and BLS employment growth by month. You are able to change the time period over which these comparisons are made. These visualizations combined should enable you to set reasonable expectations for the BLS national employment report.</p>
<p>Please click here to use the “ADP vs BLS” monthly comparison visualization tool: <a href="http://spadela.pythonanywhere.com/bls-mth/">http://spadela.pythonanywhere.com/bls-mth/</a></p>
</body>
</html>